<footer>

  <div class="container">
    <div class="row">
      <div class="col text-center">
        {%- include social.html -%}
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <p><small>{{ site.title | escape }} is unofficial Fan Content permitted under the <a href="https://company.wizards.com/fancontentpolicy">Wizards of the Coast Fan Content Policy</a>.</small></p>
        <p><small>{{ site.title | escape }} uses card imagery provided by <a href="https://scryfall.com/">Scryfall</a> in accordance with their <a href="https://scryfall.com/docs/api/images">image guidelines</a>
and <a href="https://scryfall.com/docs/api/bulk-data">bulk data</a> to have accurate and up-to-date card information.</small></p>
      </div>
    </div>
  </div>

</footer>

<script src="{{ "/assets/dist/bundle.js" | relative_url }}"></script>
