<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/dist/main.css" | relative_url }}">
  {%- feed_meta -%}

  <!-- Favicons -->
  <link rel="icon" href="{{ "/assets/img/favicons/favicon-32x32.png" | relative_url }}" sizes="32x32" type="image/png">
  <link rel="icon" href="{{ "/assets/img/favicons/favicon-16x16.png" | relative_url }}" sizes="16x16" type="image/png">
  <link rel="icon" href="{{ "/assets/img/favicons/favicon.ico" | relative_url }}">
</head>
