<ul class="list-inline">
  {%- if site.social.twitter -%}
    <li class="list-inline-item">
      <a href="https://twitter.com/{{ site.social.twitter | cgi_escape | escape }}" title="@{{ site.social.twitter | escape }}">
        <i class="fab fa-2x fa-twitter" aria-hidden="true"></i>
      </a>
    </li>
  {%- endif -%}
  {%- if site.social.discord -%}
    <li class="list-inline-item">
      <a href="{{ site.social.discord }}" title="Discord">
        <i class="fab fa-2x fa-discord" aria-hidden="true"></i>
      </a>
    </li>
  {%- endif -%}
  {%- if site.social.youtube -%}
    <li class="list-inline-item">
      <a href="{{ site.social.youtube }}" title="YouTube">
        <i class="fab fa-2x fa-youtube" aria-hidden="true"></i>
      </a>
    </li>
  {%- endif -%}
</ul>
