---
layout: default
---

{% if paginator.posts %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% if paginator == nil or paginator.page == 1 %}
  {% assign offset = 1 %}
{% else %}
  {% assign offset = 0 %}
{% endif %}

<div class="home">

  {%- if paginator == nil or paginator.page == 1 -%}
    {% assign post = posts.first %}
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark" {% if post.image %}style="background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.5), #343a40), url('{{ post.image }}') top right/cover;"{% endif %}>
      <h1>
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h1>
      <ul class="list-inline">
        <li class="list-inline-item">
          <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.short_date_format }}</time>
        </li>
        <li class="list-inline-item">//</li>
        <li class="list-inline-item">
          {%- include author-link.html -%}
        </li>
      </ul>
      <p class="lead my-2">{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
    </div>
  {%- else -%}
    <h1>Older articles - page {{ paginator.page }} of {{ paginator.total_pages }}</h1>
  {%- endif -%}

  <div class="row">
    <div class="col-md-8">
      {%- for post in posts offset:offset -%}
        {%- include post-item.html -%}
      {%- endfor -%}

      <div class="row small">
        <div class="col">
          {%- if paginator.previous_page -%}
          <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; newer articles</a>
          {%- endif -%}
        </div>
        <div class="col text-right">
          {%- if paginator.next_page -%}
            <a href="{{ paginator.next_page_path | relative_url }}">older articles &raquo;</a>
          {%- endif -%}
        </div>
      </div>
    </div>

    <aside class="col-md-4">
      <div class="p-4 mb-3 bg-light rounded">
        <h4>About</h4>
        <p class="mb-0">{{ site.title | escape }} is a site dedicated to the Magic: the Gathering Legacy deck Nic Fit. Nic Fit is a flexible, meta-dependent deck that relies on {% mtgcardlink Veteran Explorer %} and {% mtgcardlink Cabal Therapy %} to ramp into larger threats while presenting a disruption package.</p>
        <p class="small mt-2"><a href="{% link _pages/about.md %}">Read more about {{ site.title | escape }} &raquo;</a></p>
      </div>

      {%- if site.categories -%}
        <div class="p-4">
          <h4>Categories</h4>
          <ul class="list-unstyled">
            {%- for category in site.categories -%}
              <li class="my-2"><a href="{{ category.url }}">{{ category.name }}</a></li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

    </aside>
  </div>

</div><!-- /.home -->
